<!DOCTYPE html>
<html>

<head>
    <title> Web Sitem </title>
</head>

<body bgcolor="#2d3250">
    <center>
        <table border="0,5" width="1500px" height="700px">

            <tr>
                <td>
                    <h1 style="color: rgb(217, 90, 44);  ">WSMB</h1>
                </td>
             
            </tr>
            <br>
            <tr>

                <td>
                    <img src="C:\Users\MONSTER\Downloads\WhatsApp Image 2023-09-16 at 22.55.27.jpeg" height="400px"
                        width="400px" alt="Benim Resmim">
                </td>
                <td>
                    <p style="color: aliceblue;"> Ben Mehlika 21 yaşındayım İnönü üniversitesi yazılım mühendisliği 3.
                        sınıf öğrencisiyim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quos vitae
                        libero sunt et beatae sequi laborum obcaecati provident facere, cumque laudantium, rem qui
                        deserunt cupiditate? Saepe, dolorum iusto! Temporibus!</p>

                </td>
            </tr>
            <br>
            <tr">
                <td align="center" colspan="2" style="color:darksalmon">
                    <h2>İletişim Bilgilerim</h2>
                </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <p style="color: aliceblue;">E-posta: mehlikabilen@gmail.com</p>
                        <p style="color: aliceblue;">Telefon: +90 544 444 44 44</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <h4>2024 ☺ MEHLİKA</h4>
                    </td>



                </tr>

        </table>
    </center>
</body>

</html>